---
---

<div class="notch-chat">
  <div class="chat-header" id="chat-back">
    <span class="chat-back">‹</span>
    <span class="chat-title">ClaudeIsland-website</span>
  </div>

  <div class="chat-messages" id="chat-messages"></div>

  <div class="chat-bottom-bar" id="chat-bottom-bar"></div>
</div>
